version: 2.1
orbs:
  node: circleci/node@5.0.1
jobs:
  check:
    docker:
      - image: cimg/node:17.3.1
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn-berry
      - run:
          name: Check
          command: yarn check
      - run:
          name: Lint monorepo
          command: yarn lint:monorepo
      - run:
          name: Lint
          command: yarn lint:eslint
      - run:
          name: Lint style
          command: yarn lint:style
      - run:
          name: Format
          command: yarn format:check
      - run:
          name: Check dependencies
          command: yarn depcheck
      - run:
          name: Compile
          command: yarn compile
      - run:
          name: Run tests
          command: yarn test -- --ci
      - run:
          name: Ensure no changes to git-tracked files
          command: git --no-pager diff

  publish:
    docker:
      - image: cimg/node:17.3.1
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: yarn-berry
      - run:
          name: Compile
          command: yarn compile
      - run:
          name: Add version to package.json's
          command: |
            yarn lint:monorepo
            yarn lint:monorepo:fix --monorepo-version $(git tag --points-at HEAD)
      - run:
          name: Publish all packages
          command: yarn run publish

workflows:
  version: 2
  build:
    jobs:
      - check:
          filters:
            tags:
              only: /.*/

      - publish:
          filters:
            branches:
              ignore: /.*/
            tags:
              only: /.*/
          requires:
            - check
          context: npm
